body {
  background-color: #EFECCA;
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  padding: 1.6em 0 0 0;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  color: #444;
}
h1 { 
  font-family: sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.1ex;
	margin: 5px;
}
li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
a {
  color: #046380;
	background-color: #E6E2AF;
  font-weight: normal;
  text-decoration: underline;
}
blockquote {
  font-size: 90%;
  font-style: italic;
  border-left: 1px solid #111;
  padding-left: 1em;
}
.caps {
  font-size: 80%;
}

dt {
  padding-top:20px;
  font-weight:bold;  
}

dd.default {
  font-weight:italic;
}

#main {
  width: 45em;
  padding: 0;
  margin: 0 auto;
}
.coda {
  text-align: right;
  font-size: smaller;
}

table {
  font-size: 90%;
  line-height: 1.4em;
  color: #ff8;
  background-color: #111;
  padding: 2px 10px 2px 10px;
	border-style: dashed;
}

th {
	color: #fff;
}

td {
  padding: 2px 10px 2px 10px;
}

.success {
	color: #0CC52B;
}

.failed {
	color: #E90A1B;
}

.unknown {
	color: #995000;
}
pre, code {
  font-family: "Bitstream Vera Sans Mono", monospace;
	text-align: left;
	font-size: 0.9em;
  line-height: 1.4em;  
  background-color: #111;
  padding: 4px 10px 4px 10px;
  overflow: auto;
}

code {
  color: #EEE;
}

.comment { color: #aaa; font-style: italic; }
.keyword { color: #eff; font-weight: bold; }
.punct { color: #eee; font-weight: bold; }
.symbol { color: #0bb; }
.string { color: #6b4; }
.ident { color: #ff8; }
.constant { color: #66f; }
.regex { color: #ec6; }
.number { color: #F99; }
.expr { color: #227; }


.box {
  font-family: sans-serif;
  font-weight: normal;
  background-color: #445878;
  color: #000;
  padding: 15px 20px 10px 20px;
  margin: 0 auto;
	margin-top: 15px;
  border: 3px solid #141331;
}

.recipes pre {
  margin: 0 30px;
}

.recipes h3 {
  margin: 0;
  padding: 4px;
  background-color: #E6E2AF;
}

.recipe {
  margin: 0 0 40px 0;
  padding: 8px;
  border: 1px dashed #555;
}

h2+ul {
  padding-bottom: 20px;
}

#version {
  float: right;
  text-align: right;
  clear:right;
}

#version .numbers {
  display: block;
  font-size: 4em;
  line-height: 0.8em;
  letter-spacing: -0.1ex;
	margin-bottom: 15px;
}

#version p {
  text-decoration: none;
	color: #FFF;
	background-color: #445878;
	margin: 0;
	padding: 0;
}

#version a {
	color: #FFF;
	background-color: #445878;
}

#version a {
  text-decoration: none;
}

.clickable {
	cursor:	pointer; 
	cursor:	hand;
}

/* Code highlighter */
pre {
	font-family: "Bitstream Vera Sans Mono", monospace;
	text-align: left;
	font-size: 0.8em;
	position: relative;
	left: -38px;
	width: 698px;
	color: #eee;
}

code.ruby {
  color: #eee;
}

.javascript .comment, .ruby .comment, .css .comment {
	color: #707070;
	border: 0 solid transparent;
}

.javascript .string, .ruby .string {
	color: #8B9F67;
}

.ruby .symbol {
  color: #DF6447;
}

.javascript .keywords, .ruby .keywords {
	color: #D3A864;
	font-weight: bold;
}

.javascript .global {
	color : blue;
}

.javascript .brackets, .ruby .brackets {
	color : #FFF;
}

.css .properties {
	color: #999966;
}

.css .selectors {
	color: #FF6600;
	font-weight : bold;
}

.css .units {
	color: black;
}

.css .urls {
	color: black;
}

.html .tag {
	color: purple;
}

.html .comment {
	color : gray;
	font-style: italic;
}

.html .string {
	color : navy;
}

.html .doctype {
	color : teal;
}