<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="../stylesheets/screen.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
      <% if title != "Recipes" %>
      Capistrano recipes: <%= title %>
      <% else %>
      Capistrano recipes
      <% end %>
  </title>
  <script type="text/javascript" src="../javascripts/code_highlighter.js"></script>
	<script type="text/javascript" src="../javascripts/ruby.js"></script>
</head>
<body>
<div id="main" class="recipes">
    
    <h1><%= title %></h1>
    <%= body %>
    <p class="coda">
      <a href="mailto:gabrielh@gmail.com">Gabriel Handford</a>, <%= modified.pretty %><br>
      Theme extended from <a href="http://rb2js.rubyforge.org/">Paul Battley</a>
    </p>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1286493-6");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
