<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
      <%= title %>: Capistrano recipes, plugins and templates.
  </title>
  <script src="javascripts/rounded_corners_lite.inc.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.onload = function() {
      settings = {
          tl: { radius: 10 },
          tr: { radius: 10 },
          bl: { radius: 10 },
          br: { radius: 10 },
          antiAlias: true,
          autoPad: true,
          validTags: ["div"]
      };
      
      curvy_ids = [ "version" ];
      for(id in curvy_ids) {        
        var box = new curvyCorners(settings, document.getElementById(curvy_ids[id]));
        box.applyCornersToAll();
      }      
    }
  </script>
</head>
<body>
<div id="main" class="landing">

    <h1><%= title %></h1>

    <div id="version" class="clickable box" onclick='document.location = "<%= download %>"; return false'>
      <p>Get Version</p>
      <a href="<%= download %>" class="numbers"><%= version %></a>
    </div>
    
    <div id="recipes">
      <p>Documentation:
      <a href="recipes/index.html">Recipes</a> &#x2192;
      <a href="http://github.com/gabriel/capitate/tree/master/lib/capitate/plugins">Plugins</a> &#x2192;
      <a href="http://github.com/gabriel/capitate/tree/master/lib/templates">Templates</a>
      </p>
    </div>

    <div>
    <%= body %>
    </div>
    <p class="coda">
      <a href="http://ducktyper.com">ducktyper.com</a>, <%= modified.pretty %><br>
      Theme extended from <a href="http://rb2js.rubyforge.org/">Paul Battley</a>
    </p>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1286493-6");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
